docutils
pydata_sphinx_theme>=0.6.3
myst-parser[linkify]
myst-nb
sphinx>=3
sphinx-copybutton
sphinx-design
pre-commit
sphinx_thebe
sphinxcontrib-youtube
sphinx-notfound-page
sphinxext-rediraffe
