{% extends "!layout.html" %}

<!-- Add banner to all pages! -->
{%- block scripts_end %}
  {% if pagename == 'index' %}
    {{ super() }}
    <script>
    $(document).ready(function () {
    const content = $('<a href="https://pymc-data-umbrella.xyz/en/latest/banner.html"><img src="https://raw.githubusercontent.com/pymc-devs/sprint-pymc-data-umbrella/main/banner.png" style="min-height:100%; min-width:100%;"><\a>')
    $('#banner').append(content);
    })
    </script>
    {% else %}
        {{ super() }}
    {% endif %}
{%- endblock %}
