{% extends "!layout.html" %}

<!-- Add banner to all pages! -->
{%- block scripts_end %}
  {% if pagename == 'index' %}
    {{ super() }}
    <script>
    $(document).ready(function () {
    const content = $('<a href="https://pymc-data-umbrella.xyz/en/wip/banner.html"><img src="https://raw.githubusercontent.com/pymc-devs/sprint-pymc-data-umbrella/wip/banner_cover.png"><\a>')
    $('#banner').append(content);
    })
    </script>
    {% else %}
        {{ super() }}
    {% endif %}
{%- endblock %}